body {
    background: linear-gradient(90deg, rgba(34,193,195,1) 20%, rgba(253,208,45,1) 80%);
    
    

}

.wrapper {
display: grid;
grid-template-rows:15% 5% 10% 10% 5% 10% 10% 10% 20% ;
grid-template-columns: 40% 35% 30%;
margin: auto;
font-family: "Lucida Console", "Courier New", monospace;


}


img {
  border: 1.5px solid #FED12E;
}  


#image {
    grid-area: 4/1/8/2 ;
    justify-self: end;
    margin-right: 50px;
}




#name {
    grid-area: 6/2/7/3;
    font-size: 20pt;
    font-weight: 100;
    justify-self: center;
   
    
}

#function {
    grid-area: 7/2/8/3;
    font-size: 18pt;
    font-style: italic;
    justify-self: center;
   
}

#email {
    grid-area: 8/2/9/3;
    font-size: 15pt;
    text-align: center;
    margin: auto;
    justify-self: center;
}
#github {
    grid-area: 9/2/10/3;
    font-size: 15pt;
    text-align: center;

}

a {
    color: black;
    text-decoration: none;
    
}